<section id="adminUsersView">
    <link rel="stylesheet" href="/css/adminUsers.css">
    <div>
        <h1>Administrador de usuarios</h1>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Rol</th>
                    <th>Cart ID</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr id="{{this._id}}">
                    <td>{{this.first_name}}</td>
                    <td>{{this.last_name}}</td>
                    <td id="rol-{{this._id}}">{{this.rol}}</td>
                    <td>{{this.cartId}}</td>
                    <td>
                        <button class="pasarAUser" onclick="pasarAUser('{{this._id}}')">Pasar a User</button>
                        <button class="borrar" onclick="borrar('{{this._id}}')">Borrar</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script>
    function borrar(id) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminarlo!'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/api/users/${id}`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error en la solicitud');
                    }
                    if (response.status === 200) {
                        const tr = document.getElementById(id);
                        tr.remove();
                        Swal.fire(
                            '¡Eliminado!',
                            'El usuario ha sido eliminado.',
                            'success'
                        );
                    }
                    return response.json();
                })
                .then(data => {
                    // Aquí puedes realizar acciones adicionales si es necesario
                })
                .catch(error => {
                    console.log('Error:', error);
                    Swal.fire(
                        'Error',
                        'Ha ocurrido un error al intentar eliminar el usuario.',
                        'error'
                    );
                });
            }
        });
    }

    function pasarAUser(id) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "Esto cambiará el rol del usuario a 'user'",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, cambiar rol'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/api/users/returnToUser/${id}`, {
                    method: 'PUT'
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error en la solicitud');
                    }
                    return response.json();
                })
                .then(data => {
                    const rol = document.getElementById(`rol-${id}`);
                    rol.textContent = 'user';
                    Swal.fire(
                        '¡Rol cambiado!',
                        'El rol del usuario ha sido cambiado a "user".',
                        'success'
                    );
                })
                .catch(error => {
                    console.log('Error:', error);
                    Swal.fire(
                        'Error',
                        'Ha ocurrido un error al cambiar el rol del usuario.',
                        'error'
                    );
                });
            }
        });
    }
</script>