<section id="current"> 
    <link rel="stylesheet" href="/css/current.css">
    <form action="" class="form">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <div>   
        <label for="inputId">Id</label>
        <input type="text" id="inputId" value="{{user._id}}" readonly>
    </div>
 
    <div>
        <label for="inputEmail">Email</label>
    <input type="text" id="inputEmail" value="{{user.email}}" readonly>
    </div>
    
    <div> <label for="inputFirstName">Nombre</label>
    <input type="text" id="inputFirstName" value="{{user.first_name}}" readonly></div>
   
   <div> <label for="inputLastName">Apellido</label>
    <input type="text" id="inputLastName" value="{{user.last_name}}" readonly></div>
   
   {{#if infoRol }}
   <div>
    <label for="inputRol">Rol</label>
    <div class="container-form">
        <input type="text" id="inputRol" class="showPremium" value="{{user.rol}}" readonly>
        <a class="btn-premium" href="/premium">hazte premmium</a>
    </div>
    {{else}}
    <div>
    <label for="inputRol">Rol</label>
    <input type="text" id="inputRol" value="{{user.rol}}" readonly>
    </div>
    {{/if}}
    

   
   <div>
    <label for="inputCart">IdCart</label>
   <div class="container-form">
    <input type="text" id="inputCart" class="showPremium" value="{{user.cartId}}" readonly>
     <a class="btn-cart" href="/cart/{{user.cartId}}">ver cart</a>
    </div>
   
   </div>
    
    </form>

</section>
