<section id="paymentSuccess">
<link rel="stylesheet" href="/css/ticket.css">

    <h1>GRACIAS POR COMPRAR</h1>
    <p>Se envio un ticket con los datos a su email</p>
    <div class="container">
        <div class="container-products">
            <h2 class="title">Productos comprados</h2>
            <ul class="ul-products">
                {{#each ticket.products}}
                <li class="horizontal-card">              
                        <ul class="ul-card">
                            <li><strong>Producto: </strong>{{product.title}}</li>
                            <li><strong>Precio: </strong>${{product.price}}</li>
                            <li><strong>Cantidad: </strong>{{this.quantity}}</li>
                        </ul>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="container-tickets">
            <h2 class="title">Ticket</h2>
            <ul class="ul-ticket">
            

                <li><strong>Metodo: </strong>{{ticket.method}}</li>
                <li><strong>Fecha: </strong>{{ticket.purchase_datetime}}</li>
                <li><strong>Precio total: </strong>${{ticket.amount}}</li>
                <li><strong>Comprador: </strong>{{ticket.purchaser}}</li>
            </ul>
        </div>
    </div>
</section>