<div class="products">


        <link rel="stylesheet" href="/css/products.css">
      <h3>Productos</h3>
      <ul class="ul-card">
          {{#each products.payload}}
              <li class="carddiv">
                  <h2 class="tittle-card">{{this.title}}</h2>
                  <p class="price-card">Precio: ${{price}}</p>
                  {{#if thumbnail}}
                      <img src="{{thumbnail}}" class="image-card" alt="{{title}}" width="100">
                  {{else}}
                      <p>Imagen no disponible</p>
                  {{/if}}
                  <a  class="a-card" href="/products/{{_id}}">Ver Producto</a>
              </li>
          {{/each}}
      </ul>
      <div id="pagination">
           {{#if products.hasPrevPage }}
              <a href="{{products.prevLink}}">{{products.prevPage}}</a>
           {{else}}

           {{/if}}
          <a href="#" style="color: black; border: 1px solid black; text-decoration: none">{{products.page}}</a>
          {{#if products.hasNextPage }}
              <a href="{{products.nextLink}}">{{products.nextPage}}</a>...
          {{else}}
          {{/if}}
           <label>de {{products.totalPages}}</label>
       </div>
</div>